<div class="container">
  <div class="row">
    
    <h1 class="col-xs-12">Acerca de</h1>
    <div class="col-xs-12 col-sm-4">
      
      <h4 class="">Creadores</h4>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Andrea Iram Molina Orozco</h3>
        </div>
        <div class="panel-body">
          <p><span class="glyphicon glyphicon-education" style="margin-right:0.5em; color:#555;">  </span>  Ing. en Sistemas Computacionales</p>
          <p><span class="glyphicon glyphicon-envelope" style="margin-right:0.5em; color:#555;">  </span>  <a href="mailto:A01374040@itesm.mx" class="link-no-style">A01374040@itesm.mx</a></p>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Diego Trujillo Noberto</h3>
        </div>
        <div class="panel-body">
          <p><span class="glyphicon glyphicon-education" style="margin-right:0.5em; color:#555;">  </span>  Ing. en Sistemas Computacionales</p>
          <p><span class="glyphicon glyphicon-envelope" style="margin-right:0.5em; color:#555;">  </span>  <a href="mailto:A01360477@itesm.mx" class="link-no-style">A01360477@itesm.mx</a></p>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tecnologías utilizadas</h3>
        </div>

        <ul class="list-group">
          <a href="http://getbootstrap.com/" target="_blank" class="list-group-item">Bootstrap</a>
          <a href="http://jquery.com/" target="_blank" class="list-group-item">jQuery</a>
          <a href="http://expressjs.com/" target="_blank" class="list-group-item">Express.js</a>
          <a href="http://nodejs.org/" target="_blank" class="list-group-item">Node.js</a>
          <a href="http://mongodb.com/" target="_blank" class="list-group-item">MongoDB</a>
        </ul>

      </div>
      
    </div>
    
    <div class="col-xs-12 col-sm-8">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Acerca de Batalla Naval</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="#">Node.js</a></li>
          </ul>
        </div>
      </div>
      
    </div>
    
  </div>
</div>